<div class="row">
  <div class="d-flex flex-wrap justify-content-evenly col-12">
    <% posts.each do |post| %>
      <div class="col-md-4 mb-3">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(250,250,"square"), class: "w-100 img-thumbnail mx-1 my-1" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <%= paginate posts %>
</div>