<div class="row">
  <div class="d-flex flex-wrap justify-content-evenly col-12">
    <% posts.each do |post| %>
      <div class="col-md-4 mb-3">
        <%= link_to post_path(post.id) do %>
          <%= link_to post.goal, post_path(post.id) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <%= paginate posts %>
</div>