<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-8 col-md-8 col-sm-12 round shadow-lg mx-auto">
      <h2 class="text-dark bg-light rounded-top py-4 mb-0 text-center">新規投稿フォーム</h2>
      <div class="form-body p-4 bg-white rounded-bottom">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>