<div class="container">
  <h1>
    GoalMatesへようこそ！
  </h1>

　<%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>

  <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>

  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
</div>