<% if post.favorites.count != 0 %>
  <p><i class="fas fa-heart" style="color: #ff0000;"></i><%= post.favorites.count %></p>
<% else %>
  <p><i class="far fa-heart" style="color: #000000;"></i>0</p>
<% end %>