@use '~bootstrap/scss/bootstrap';

// @use '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




footer {
  margin-top: auto;
}

header {
  background-color: #111111;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#error_explanation {
  color: #f00;
}

body.top-body {
  background-image: url("../image/top_image.jpg");
  background-attachment: fixed;
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:400px;
}