@use '~bootstrap/scss/bootstrap';

@use '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//画面全体的に下記値でマージンを設ける
.wrapper{
  margin: 60px 10px;
}


footer {
  margin-top: auto;
}

header {
  background-color: #363738;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#error_explanation {
  color: #f00;
}