@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap');

* {
  font-family: 'Kaisei Decol', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #373b44;
  margin-top: auto;
}

header {
  background-color: #373b44;
}

#error_explanation {
  color: #f00;
}

body {
  background-image: url("../images/background_image.jpg");
  background-attachment: fixed;
  background-size:cover;
  width:100%;
  height:400px;
}

//入力フォーム必須箇所装飾
label span.required {
  color: #fff;
  background: #f14668;
  font-size: 0.8rem;
  padding: 5px 8px;
  border-radius: 2px;
}

//プロフィール画像を線で囲むため
.rounded-circle {
  border: 1px solid #dec8d6;
}