<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="card shadow-lg px-3 py-3">
        <h2 class="headline col-lg-4 col-md-7 col-sm-12 text-center">ユーザー詳細</h2>
        <%= render 'profile', user: @user, posts: @posts %>
      </div>
    </div>
  </div>
</div>