<footer class="bg-dark text-center text-white pt-3">
  <p class="copyright">© 2023 Gourmemo Inc. All Rights Reserved.</p>
  <% if current_page?(root_path) %>
    <div><%= link_to "管理者はこちら", admin_session_path, class: "text-white" %></div>
  <% end %>
</footer>